$colorLight: #fff;
$colorDark: #000;
$colorPurePink: #e2007a;
$colorGray: #666;
$colorLightGray: #f2f2f2;
$colorOtherPink: #ff49ab;

body {
	font-family: Arial, sans-serif;
	color: $colorGray;
	overflow-x: hidden;
}

h1,
h2 {
	color: $colorDark;
	font-weight: bold;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

img {
	max-width: 100%;
}

p {
	&.main-p {
		color: $colorDark;
		font-size: 1.875rem;
	}
	&.p-wanneer-waarom {
		border-bottom: 1px solid $colorGray;
	}
}

span {
	&.span-h1 {
		color: $colorDark;
		font-weight: bold;
		font-size: 3rem;
		line-height: 1.2;
	}
}

button {
	background-color: $colorPurePink;
	color: $colorLight;
	padding: 0.625em 1.875em;
	border: 1px solid $colorOtherPink;
	border-radius: 0.25em;
	&.dkm-form-btn {
		background: $colorPurePink;
		color: $colorLight;
		border-radius: 0.25em;
		border: 1px solid $colorOtherPink;
	}
}

form {
	input,
	textarea {
		&.form-control {
			border-radius: 0.25em !important;
		}
	}
	input {
		&.form-control {
			&.form-control-lg {
				height: calc(2em + 1rem + 2px);
			}
		}
	}
}

.vh-30 {
	min-height: 30vh;
}

.vh-40 {
	min-height: 40vh;
}

.vh-50 {
	min-height: 50vh;
}

.fs-19 {
	font-size: 1.1875rem;
}

.header-icon {
	margin: 0 1em;
}

.bgc-light {
	background: $colorLight;
}

.bgc-pure-pink {
	background: $colorPurePink;
}

.bgc-light-gray {
	background: $colorLightGray;
}

.a-underline-none:hover {
	text-decoration: none;
}

.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&.hero-img-1 {
		background-image: url("/img/hero1-stock-photo-urk-netherlands-may-dutch-suburban-area-with-modern-family-houses-newly-build-modern-family-1091212700-web.jpg");
	}
	&.hero-img-2 {
		background-image: url("/img/hero2-stock-photo-newly-built-houses-in-a-family-friendly-modern-suburban-neighborhood-with-solar-panels-en-electric-1366579610-web.jpg");
	}
}

.form-div {
	background-color: rgba(255, 255, 255, 0.8);
}

.arrow {
	border: solid $colorPurePink;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg) scale(2) translateY(1px, -2px);
	-webkit-transform: rotate(-45deg) scale(2) translate(1px, -2px);
	color: $colorPurePink;
}

.modal-dialog.modal-dialog-centered {
	max-width: 1000px !important;
}

@media screen and (max-width: 600px) {
	p {
		&.p-header {
			max-width: 40ch;
		}
		&.p-max-char {
			max-width: 32ch;
		}
	}

	a {
		&.a-header {
			display: block;
			margin: 1em auto;
		}
	}

	img {
		&.header-icon {
			width: 50px;
			height: 50px;
		}
	}
}
